<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_ui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE055EC91C343CD400AFCF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE055EE21C343CD400AFCF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE055EED1C343CD400AFCF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
